extends layout

block content
  h1 Hello astronaut
  p.text-gray-200 Welcome to #{title}, You can add your message 
  a(href="/new") here 

  each message in messages 
    div.message-div
      h2= message.text 
      p Sent by @#{message.user} at #{message.added}
